@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: #13131a;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    overflow: hidden; /* Prevent scrolling */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #13131a;
}

form {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fbfbff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid #FBFBFF;
    padding: 5px;
    transition: all 1s;
}

form input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

form .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #8c52ff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 300px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #8c52ff;
    color: white;
}

.main-content {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px); /* Subtract the height of the top-bar from the full height */
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the content vertically */
    align-items: center; /* Centers the content horizontally */
    width: 20%;
    background-color: #13131a;
    padding: 25px;
    height: 100%; /* Ensure sidebar takes full height of the parent */
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Reset margin to ensure proper centering */
    width: 100%;
}

.sidebar li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #777;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}

.sidebar li:hover {
    background-color: #0B4F6C;
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #AFA2FF;
    color: #FBFBFF;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center children horizontally */
    position: relative; /* Added to position children absolutely if needed */
    height: 100%; /* Ensure content takes full height of the parent */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.chart-container {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the chart-container */
    background-color: #0B4F6C;
    padding: 25px;
    border-radius: 20px;
}

#grade-chart {
    width: 100%; /* Ensure the chart takes full width of its container */
}

.collapsible {
    background-color: #0B4F6C;
    color: #FBFBFF;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font: inherit;
    font-size: 18px;
    border-radius: 10px;
}

.collapsible:hover {
    background-color: #FBFBFF;
    color: #0B4F6C;
}

.collapsible.active {
    background-color: #0B4F6C;
    border-radius: 20px 20px 0px 0px;
}

.collapsible.active:hover {
    color: #fbfbff;
    background-color: #63B4D1;
}

.course-info {
    color: #fbfbff;
}
