<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTD Grade Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Include React and ReactDOM -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
    <div id="app"></div>

    <script type="text/babel">
        class App extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    courseID: '',
                    result: null,
                };

                this.handleInputChange = this.handleInputChange.bind(this);
                this.handleSubmit = this.handleSubmit.bind(this);
            }

            handleInputChange(event) {
                this.setState({ courseID: event.target.value });
            }

            handleSubmit(event) {
                event.preventDefault();
                const url = `/results?courseID=${this.state.courseID}`;
                window.location.href = url;
            }

            render() {
                return (
                    <div className="container">
                        <form onSubmit={this.handleSubmit} className="search-bar">
                            <input
                                type="text"
                                placeholder="Enter the Course ID"
                                name="courseID"
                                value={this.state.courseID}
                                onChange={this.handleInputChange}
                                required
                            />
                            <button type="submit">Search</button>
                        </form>
                    </div>
                );
            }
        }

        ReactDOM.render(<App />, document.getElementById('app'));
    </script>
</body>
</html>
