<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTD Grade Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <form id="searchForm" class="search-bar" autocomplete="off">
            <input type="text" placeholder="Enter the Course ID" name="courseID" id="courseID" required/>
            <button type="submit" class="fa fa-search"></button>
        </form>
    </div>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const courseID = document.getElementById('courseID').value;
            const url = `/results?courseID=${courseID}`;
            window.location.href = url;
        });
    </script>
</body>
</html>
